CREATE TABLE "companies" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_companies" PRIMARY KEY,
    "Name" TEXT NOT NULL
);


CREATE TABLE "positions" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_positions" PRIMARY KEY,
    "Name" TEXT NOT NULL
);


CREATE TABLE "employees" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_employees" PRIMARY KEY,
    "Name" TEXT NOT NULL,
    "Surname" TEXT NOT NULL,
    "Email" TEXT NOT NULL,
    "company_id" TEXT NOT NULL,
    CONSTRAINT "FK_employees_companies_company_id" FOREIGN KEY ("company_id") REFERENCES "companies" ("Id") ON DELETE CASCADE
);


CREATE TABLE "projects" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_projects" PRIMARY KEY,
    "Name" TEXT NOT NULL,
    "company_customer_id" TEXT NOT NULL,
    "company_executer_id" TEXT NOT NULL,
    CONSTRAINT "FK_projects_companies_company_customer_id" FOREIGN KEY ("company_customer_id") REFERENCES "companies" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_projects_companies_company_executer_id" FOREIGN KEY ("company_executer_id") REFERENCES "companies" ("Id") ON DELETE CASCADE
);


CREATE TABLE "employee_positions" (
    "EmployeesId" TEXT NOT NULL,
    "PositionsId" TEXT NOT NULL,
    CONSTRAINT "PK_employee_positions" PRIMARY KEY ("EmployeesId", "PositionsId"),
    CONSTRAINT "FK_employee_positions_employees_EmployeesId" FOREIGN KEY ("EmployeesId") REFERENCES "employees" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_employee_positions_positions_PositionsId" FOREIGN KEY ("PositionsId") REFERENCES "positions" ("Id") ON DELETE CASCADE
);


CREATE TABLE "project_employees" (
    "EmployeesId" TEXT NOT NULL,
    "ProjectsId" TEXT NOT NULL,
    CONSTRAINT "PK_project_employees" PRIMARY KEY ("EmployeesId", "ProjectsId"),
    CONSTRAINT "FK_project_employees_employees_EmployeesId" FOREIGN KEY ("EmployeesId") REFERENCES "employees" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_project_employees_projects_ProjectsId" FOREIGN KEY ("ProjectsId") REFERENCES "projects" ("Id") ON DELETE CASCADE
);


CREATE INDEX "IX_employee_positions_PositionsId" ON "employee_positions" ("PositionsId");


CREATE INDEX "IX_employees_company_id" ON "employees" ("company_id");


CREATE INDEX "IX_project_employees_ProjectsId" ON "project_employees" ("ProjectsId");


CREATE INDEX "IX_projects_company_customer_id" ON "projects" ("company_customer_id");


CREATE INDEX "IX_projects_company_executer_id" ON "projects" ("company_executer_id");



